---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Temple Muay Thai">
  <div class="container">
    <p>
      Welcome to Temple Muay Thai, the best place to learn and practice the art
      of eight limbs in Asheville, North Carolina. Whether you are looking for a
      fun way to get in shape, a new skill to master, or a competitive
      challenge, we have something for you. Our classes are suitable for all
      levels, from beginners to advanced fighters. You will learn how to strike
      with your fists, feet, knees, and elbows, as well as how to defend
      yourself from any position. You will also improve your strength, balance,
      coordination, and confidence under the guidance of our experienced and
      passionate coaches. Temple Muay Thai was founded by Jesse Reyna, who has
      over eight years of experience in Muay Thai alone, including training,
      fighting, and coaching. Jesse has trained under numerous highly
      experienced coaches from around the United States1. He is joined by a team
      of dedicated and qualified instructors who share his vision of spreading
      the love for Muay Thai to the community of Asheville. Temple Muay Thai is
      located inside Oakley Wrestling Club at River Ridge market place1. We
      offer flexible memberships and a 30-day trial period for new students.
      Come and join us today and discover the benefits of Muay Thai for
      yourself!
    </p>
    <a href="/faqs" class="btn btn-primary">Learn More</a>
  </div>
</Layout>
